<%- include("partials/header.ejs") %>

<div class="heading">
    <b>Work List</b>
</div>

<div class="box"> 
    <div class="item">
        <input id="checkbox" type="checkbox"></input>
       <p> </p>
</div>
<div class="item">
    <input id="checkbox" type="checkbox"></input>
   <p> </p>
</div>
<div class="item">
    <input id="checkbox" type="checkbox"></input>
   <p> </p>
</div>
<div class="item">
    <input id="checkbox" type="checkbox"></input>
   <p> </p>
</div>
<form class="item" action="/" method="post">
    <input id ="text" type="text" name="newItem" placeholder="New Item" autocomplete="off">
    <button class="button" id="submit" type="submit" name="list" value="Tuesday," october 3><h3>+</h3></button>
 </form> 
</div>
<%- include("partials/footer.ejs") %>