
<%- include("partials/header.ejs") %>
<div class="heading">
    <b><%= moment().format('dddd, MMMM D') %></b>
</div>
<div class="box"> 
    <div class="item">
        <input id="checkbox" type="checkbox"></input>
       <p> </p>
</div>
<div class="item">
    <input id="checkbox" type="checkbox"><%= newlist %></input>
   <p> </p>
</div>
<div class="item">
    <input id="checkbox" type="checkbox"></input>
   <p> </p>
</div>
<div class="item">
    <input id="checkbox" type="checkbox"></input>
   <p> </p>
</div>
</div>
