<%- include("partials/header.ejs") %>

<div class="heading">
    <b>Work List</b>
</div>

<div class="box"> 
    <div class="item">
        <input id="checkbox" type="checkbox"></input>
       <p> </p>
</div>
<div class="item">
    <input id="checkbox" type="checkbox"></input>
   <p> </p>
</div>
<div class="item">
    <input id="checkbox" type="checkbox"></input>
   <p> </p>
</div>
<div class="item">
    <input id="checkbox" type="checkbox"></input>
   <p> </p>
</div>
</div>
</main>
<%- include("partials/footer.ejs") %>